@bg-white: #ffffff;
@color-lightgrey: #f1f1f1;
@color-darkgrey: #444444;
@color-lightgreen: #63d1bb;
@color-darkgreen: #56c3b2;

@mobile-widths-only: ~"(max-width: 767px)";
@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1200px)";
