/* Файл ../less/catalog-blocks/catalog-page-header.less*/

.catalog-page {
  .container();
}

.catalog-page__wrapper {
  margin:0 30px;
}

.catalog-title {
  min-width: 100%;
  min-height: 177px;
  background-color: #f1f1f1;
  text-align: center;
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
}



@media @tablet-widths {
  .catalog-page {
   .container-fluid();
 }

 .catalog-page__wrapper {
  margin: 0 50px
}

.catalog-title {
  min-height: 227px;
  font-size: 43px;
  line-height: 50px;
}

}
