/* Файл catalog-blocks/videocontent.less*/
.videocontent {
  margin-top: 30px;
  border: 1px solid #f9f9f9;
}

.videocontent__title{
  padding: 27px 0 25px 90px;
  margin:0;
}

.videocontent__player {
  min-width: 100%;
  height: 150px;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #333333;

  background: @color-lightgrey url(../img/video-mobile@1x.jpg) no-repeat;
}

.videocontent__text {
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  color: @color-darkgrey;
  padding: 28px 34px;
  margin: 0;
}

.videocontent__order {
  display: flex;
  justify-content: center;

  font-size: 17px;
  line-height: 16px;
  font-weight: 700;

  text-transform: uppercase;
  text-decoration: none;

  color: @color-darkgrey;
  border: 1px solid @color-darkgrey;

  width: 190px;

  padding-top: 19px;
  padding-bottom: 16px;

  margin:0 34px 30px;
}

@media @tablet-widths {

  .videocontent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .videocontent__title{
    padding: 27px 0 24px 0;
    margin:0;

    font-size: 20px;
    line-height: 24px;
  }

  .videocontent__player {
    order: -1;
    width: 100%;
    min-height: 457px;

  }
  .videocontent__text {
    font-size: 15px;
    line-height: 30px;
    color: @color-darkgrey;
  }
}
