/* Файл index-blocks/advantages.less */

.advantages__items {
  margin: 0;
  padding: 0;

  font-size: 17px;
  font-style: normal;    list-style-type: none;
}

.advantages__item {
  padding: 50px 0 20px 0;
  &--1 {
    background: url(../img/icon-feature-1.svg) no-repeat;
  }
  &--2 {
    background: url(../img/icon-feature-2.svg) no-repeat;
  }

  &--3 {
    background: url(../img/icon-feature-3.svg) no-repeat;
  }

  &--4 {
    background: url(../img/icon-feature-4.svg) no-repeat;
  }

  &--5 {
    background: url(../img/icon-feature-5.svg) no-repeat;
  }

  &--6 {
    background: url(../img/icon-feature-6.svg) no-repeat;
  }
}
