/* Файл index-blocks/headline-item.less */
.container {
  padding: 0 30px;
}

.headline-item__label {
  color: @color-lightgreen;

  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  font-style: normal;

  text-transform: uppercase;
}

.headline-item__info {
  font-size: 15px;
  line-height: 24px;}


  .headline-item__table {
    border-collapse: collapse;
    border: none;
    font-size: 15px;
    line-height: 20px;
  }

  .headline-item__column  {
    border-bottom: 1px solid @color-lightgrey;
    padding: 10px;
    padding-right: 30px;
  }

  .headline-item__spec {
    color: @color-darkgrey;
    text-align: center;
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
    font-style: normal;
  }
  .headline-item__photo {
    background: @color-lightgrey url(../img/triple-set-mobile@1x.jpg) no-repeat 50% 0;
    min-width: 260px;
    min-height: 315px;
  }

  .headline-item__price {
    display: block;
    font-size: 17px;
    line-height:24px;
    font-weight: bold;
    font-style: normal;

    padding-top: 30px;
    padding-bottom: 30px;
  }

  .headline-item__button {
    display: block;

    font-size: 17px;
    line-height: 16px;
    text-transform: uppercase;
    color: @color-darkgrey;
    border: 2px solid @color-darkgrey;
    font-weight: 700;
    text-decoration: none;
    padding-top: 16px;

    padding-bottom: 16px;
}


