/* Файл index-blocks/headline-item.less */
.headline-item__wrapper {
  margin: 0 30px;
}

.headline-item{
  position: relative;
  padding-top: 30px;

  &::after {
    position: absolute;
    bottom: -40px;
    left: 0;

    width: 100%;
    height: 7px;

    background: url("../img/bg-zigzag-line.svg") repeat;
    background-size: cover;

    content: "";
  }
}

.headline-item__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  font-style: normal;
}

.headline-item__label {
  color: @lightgreen;

  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  font-style: normal;

  text-transform: uppercase;
}

.headline-item__info {
  font-size: 15px;
  line-height: 24px;
}


.headline-item__table {
  border-collapse: collapse;
  border: none;
  font-size: 15px;
  line-height: 20px;
}

.headline-item__column  {
  border-bottom: 1px solid @lightgrey;
  padding: 5px;
  padding-right: 15px;
}

.headline-item__footer {
  display: flex;
  justify-content: center;
  flex-wrap:wrap;

  color: @darkgrey;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  font-style: normal;
}
.headline-item__photo {
  min-width: 260px;
  min-height: 315px;
  background-size: cover;

}


.headline-item__price {
  display: flex;

  padding-top: 30px;
  padding-bottom: 30px;
}

.headline-item__button {
  height: 52px;
  width: 258px;
}



@media @tablet-widths {

  .headline-item__wrapper {
   .wrapper ();
   margin: 0;
 }

 .headline-item__header {
  display: flex;
  justify-content: space-between;

  margin-top: 25px;
}

.headline-item{
  position: relative;
  padding-top: 30px;

  &::after {
      bottom: -52px;

      height: 15px;

      background: url("../img/bg-zigzag-line.svg") repeat -6px;
      background-size: 100%;
    }
}


.headline-item__title{
  font-size: 43px;
  line-height:50px;
  flex-grow:1;

  margin-bottom: 50px;
}

.headline-item__label{
  display: flex;
  align-items: center;
  width: 100px;
}

.headline-item__block {
  display:flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.headline-options{
  width: 285px;
  padding-right: 45px;
}

.headline-item__info {
  padding-bottom: 40px;
}

.headline-item__info,
.headline-item__table{
  font-size: 17px;
  line-height: 30px;
  margin: 0;
}
.headline-item__photo {
  min-width: 334px;
  min-height: 405px;
  background-size: cover;

  }

.headline-item__footer{
 display: flex;
 flex-direction: column;
 margin-top: -119px;
 width: 290px;
}

.headline-item__price {
  margin: auto;
  padding-bottom: 15px;
}

}


@media @desktop-widths {

  .headline-item__label {
    order: -1;
  }

  .headline-item__wrapper {
    display: flex;
    flex-direction: column;
  }

  .headline-item__header {
    flex-wrap: nowrap;
    position: absolute;
    z-index:1;
    margin-top: 67px;
  }
.headline-item{
  position: relative;
  padding-bottom: 60px;

  &::after {
      bottom: -52px;

      height: 24px;
    }
}
  .headline-item__title{
   font-size: 53px;
   line-height:57px;
   margin-left: 68px;
 }

 .headline-item__block {
  justify-content: flex-start;
  position: relative;
  align-items: center;
  margin-top: 70px;
  margin-left: 175px;
}


.headline-item__photo{

  min-width: 525px;
  min-height: 640px;
  background-size: cover;
}


.headline-item__footer {
  margin-top: -125px;
}
}




