/* Файл index-blocks/main-nav.less */
.main-nav {
  width: 320px;
  margin: 0 auto;
  background-color: #ccccc5;
}

.main-nav__toggle {
  font-size: 0;
}


.main-nav__items{
  margin: 0;
  padding: 0;
}

.main-nav__item {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;

  min-height: 88px;

  list-style: none;
}

.main-nav__items a{
  display: block;
  text-decoration: none;
  color: #333333;
}


@media @tablet-widths {

  .main-nav {
    width: auto;
    min-height: 88px;
    margin: 0;
  }

  .main-nav__wrapper {
    .container();
    .clearfix();
  }

  .main-nav__items {
    min-height: 80px; /* Временно для сетки */
  }
}


