/* Файл index-blocks/page-footer.less */
.page-footer {
  min-height: 160px; /* Временно для сетки */
  background-color: @color-lightgrey;
}
.page-footer__wrapper {
  .container();
}

.social-links {
  display: block;
  text-align: center;
  height: 80px;
}
.social-link {
  &--in {
    background:  url(../img/icon-insta.svg) no-repeat;
  }
  &--fb {
    background:  url(../img/icon-fb.svg) no-repeat;
  }
  &--tw {
    background: url(../img/icon-twitter.svg) no-repeat;
  }
}
.page-footer__copyright {
  display: block;
  text-align: center;
  height: 80px;
  border-top: 1px solid @color-darkgrey;
}
.page-footer__copyright {
  font-size: 19px;
  line-height:18px;
}

.page-footer__copyright-link{
  height:50px;

  background: url(../img/logo-htmlacademy.svg) no-repeat;
}


@media @tablet-widths {

  .page-footer__wrapper {
    min-height: 143px; /* Временно для сетки */
    margin-top: 0;
    padding-top: 57px;
    padding-bottom: 59px;
  }
  .page-footer__copyright {
      padding: 0;
  }

  .page-footer__social {
    margin-bottom: 0;
  }
}

@media @desktop-widths {

  .page-footer__wrapper {
    min-height: 143px; /* Временно для сетки */
  }
  .page-footer__social {
    width: 145px;
  }
  .page-footer__copyright {
    width: 185px;
  }
}
