/* Файл index-blocks/reviews.less */
.reviews__wrapper {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 30px;
}
.reviews__title {
  order: 1;
}

.reviews__item {
  order: -1;

  color: @darkgrey;
  margin: 0;

  font-size: 15px;
  line-height: 30px;
}

.reviews__author-name {
  color: #333333;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
}

.reviews__author-contacts {
  font-style: normal;
}

.reviews__toggle{
  display: flex;

  justify-content: center;
  align-items: center;
  width: 258px;
  height: 52px;

  font-size: 0;
  border: 1px solid lightgrey;
  margin: 30px 0;
}

.toggle {
 display: flex;
 flex-wrap:wrap;

 justify-content: space-around;
 align-items: center;
 padding: 0 38px;

 &--prev {
     &:hover {
      opacity: 0.5;
    }

     &:active {
       opacity: 0.3;
   }
  }

 &--next {
  border-left: 1px solid lightgrey;
  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }
}
}

.reviews-write__button {
  order: -2;
  width: 258px;
  height: 52px;
  margin-top: 30px;
}


@media @tablet-widths {
  .reviews__wrapper{
   .wrapper ();
   margin:0;
   position: absolute;
   z-index: 1;
 }

 .reviews__photo{
  background: @lightgrey url(../img/review@1x.jpg) no-repeat 50% 0;
  width: 353px;
  height: 458px;
  position: relative;

  @media (min-width: 768px) and (min-resolution: 144dpi),
           (min-width: 768px) and (min-resolution: 1.5dppx) {
             background-image: url(../img/review@2x.jpg);
             background-size: 353px auto;
             }
}

.rewievs__header {
  display:flex;
  flex-direction: row;
  align-items:baseline;
  justify-content: space-between;
}

.reviews__title {
  font-size: 43px;
  line-height: 50px;
  order: -1;
}

.reviews__item {
  font-size: 17px;
  line-height: 30px;
  order: -2;
}

.reviews__auhor-name{
  display: flex;
  padding-top: 54px;
}

  .reviews-write__button {
    order: 1;
  }
}

@media @desktop-widths {
  .reviews__title {
    font-size: 53px;
    line-height:57px;
  }
  .reviews__wrapper {
    margin-left: 175px;
  }
  .reviews__item p {
    margin: 47px 175px 60px 0;
  }


}
