/* Файл index-blocks/reviews.less */
.reviews__wrapper{
  margin: 0 30px;
}

.reviews__item {
  color: @color-darkgrey;
  margin: 0;

  font-size: 15px;
  line-height: 30px;
}

.reviews__auhor-name {
  color: #333333;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
}

.reviews__auhor-contacts {
  font-style: normal;
}


.reviews__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.reviews__toggle{
  display: flex;

  justify-content: center;
  align-items: center;
  width: 258px;
  height: 52px;

  font-size: 0;
  border: 1px solid lightgrey;
  margin: 30px 0;
}

.toggle {
 display: flex;
 flex-warp:warp;

 justify-content: space-around;
 align-items: center;
 padding: 0 38px;
 &--next {
  border-left: 1px solid lightgrey;
}
}
.reviews-write__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 258px;
  height: 52px;

  margin-bottom: 50px;
}


@media @tablet-widths {
  .reviews__wrapper {
    display: flex;
    flex-wrap:wrap;
    align-items:  baseline;;
  }

  .reviews__title {
  font-size: 43px;
  line-height: 50px;
  order: -3;
  flex-grow: 1;
  }

.reviews__item {
  font-size: 17px;
  line-height: 30px;
  dislay: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

.reviews__auhor-name{
  display: flex;
  padding-top: 54px;
  }

.reviews__buttons {
  display: flex;
  justify-content: flex-start;
  order: -2;
}

.reviews__toggle {
  display:flex;
}

 .reviews-write{
  display:flex;
  justify-content: flex-start;
  order: -1;
  padding-top: 36px;
}

}

