.filter {
  margin:0 15px;
}

.filter__wrapper {
  margin: 0;
  padding:0;
  border: none;
}

.filter__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: @color-lightgreen;
  text-transform: uppercase;
  padding: 20px 0;
}

.filter__field {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.filter__type {
  display: inline-block;
  padding: 10px 20px;
}
